django
django-cors-headers
django-mailer
djangorestframework
drf-writable-nested
psycopg2-binary
gunicorn
celery
dj-rest-auth
django-allauth
flower
redis
django-celery-beat
requests
factory_boy
coverage
channels
channels-redis